<h1>Initech Mission</h1>
<p>
    Our mission is to deliver the highest quality enterprise products through 
    our strong corporate culture and world-reknown development process.
</p>
<div class="clr-row">
    <div class="clr-col-md-4">
        <div class="card">
            <div class="card-header">
                Accountability
            </div>
            <div class="card-block">
                <app-youtube-video [videoId]="'Fy3rjQGc6lA'"></app-youtube-video>
            </div>
        </div>
    </div>
    <div class="clr-col-md-4">
        <div class="card">
            <div class="card-header">
                Honesty
            </div>
            <div class="card-block">
                <app-youtube-video [videoId]="'8afqoDL3Qsk'"></app-youtube-video>
            </div>
        </div>
    </div>
    <div class="clr-col-md-4">
        <div class="card">
            <div class="card-header">
                Passion
            </div>
            <div class="card-block">
                <app-youtube-video [videoId]="'fjsSr3z5nVk'"></app-youtube-video>
            </div>
        </div>
    </div>
</div>
